<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="false">

    <listeners>
        <listener class-name="listeners.TestListener" />
    </listeners>

    <test name="All Tests">
        <classes>
            <class name="com.test.SignUpTest" />
            <class name="com.test.ExitsAccTest" />
            <class name="com.test.LoginTest" />
            <class name="com.test.InvalidLoginTest" />
        </classes>
    </test>

</suite>